In [928]:
import pandas as pd
import yfinance as yf
import numpy as np

In [929]:
x = yf.download(tickers = "^NSEI",  # list of tickers
            period = "20y",         # time period
            interval = "1d",       # trading interval
            prepost = False,       # download pre/post market hours data?
            repair = True)

WARNING Can't calibrate 1h block starting 2023-04-18 so aborting repair
WARNING Can't calibrate 1h block starting 2023-05-18 so aborting repair

[*********************100%***********************]  1 of 1 completed

In [972]:
x.shape

(3858, 12)

In [931]:
x = pd.DataFrame(x)

In [932]:
x = x.drop(["Adj Close","Volume","Repaired?"]   , axis = 1)

In [933]:
x["H20"] = x['High'].rolling(window=20).max()
x["H20"] = x["H20"].shift(1)

In [934]:
x["L20"] = x['Low'].rolling(window=20).min()
x["L20"] = x["L20"].shift(1)

In [948]:
x["H10"] = x['High'].rolling(window=10).max()
x["H10"] = x["H10"].shift(1)

In [949]:
x["L10"] = x['Low'].rolling(window=10).min()
x["L10"] = x["L10"].shift(1)

In [950]:
x["H55"] = x['High'].rolling(window=55).max()
x["H55"] = x["H55"].shift(1)

In [951]:
x["L55"] = x['Low'].rolling(window=55).max()
x["L55"] = x["L55"].shift(1)

In [952]:
#x['Signal'] = np.where(x['Open'] > x['H20'], 1, -1)

In [953]:
x.head(21)

,Open,High,Low,Close,H20,L20,H10,L10,H55,L55,TR,ATR
Date,,,,,,,,,,,,
2007-09-17,4518.450195,4549.049805,4482.850098,4494.649902,NaN,NaN,NaN,NaN,NaN,NaN,66.199707,NaN
2007-09-18,4494.100098,4551.799805,4481.549805,4546.200195,NaN,NaN,NaN,NaN,NaN,NaN,70.250000,NaN
2007-09-19,4550.250000,4739.000000,4550.250000,4732.350098,NaN,NaN,NaN,NaN,NaN,NaN,192.799805,NaN
2007-09-20,4734.850098,4760.850098,4721.149902,4747.549805,NaN,NaN,NaN,NaN,NaN,NaN,39.700195,NaN
2007-09-21,4752.950195,4855.700195,4733.700195,4837.549805,NaN,NaN,NaN,NaN,NaN,NaN,122.000000,NaN
2007-09-24,4837.149902,4941.149902,4837.149902,4932.200195,NaN,NaN,NaN,NaN,NaN,NaN,104.000000,NaN
2007-09-25,4939.100098,4953.899902,4878.149902,4938.850098,NaN,NaN,NaN,NaN,NaN,NaN,75.750000,NaN
2007-09-26,4937.600098,4980.850098,4930.350098,4940.500000,NaN,NaN,NaN,NaN,NaN,NaN,50.500000,NaN
2007-09-27,4942.700195,5016.399902,4942.700195,5000.549805,NaN,NaN,NaN,NaN,NaN,NaN,75.899902,NaN
2007-09-28,4996.450195,5055.799805,4996.450195,5021.350098,NaN,NaN,NaN,NaN,NaN,NaN,59.349609,NaN
2007-10-01,5021.500000,5089.299805,5001.350098,5068.950195,NaN,NaN,5055.799805,4481.549805,NaN,NaN,87.949707,NaN
2007-10-03,5069.000000,5261.350098,5034.149902,5210.799805,NaN,NaN,5089.299805,4481.549805,NaN,NaN,227.200195,NaN
2007-10-04,5211.649902,5233.100098,5126.049805,5208.649902,NaN,NaN,5261.350098,4550.250000,NaN,NaN,107.050293,NaN
2007-10-05,5208.149902,5248.549805,5164.500000,5185.850098,NaN,NaN,5261.350098,4721.149902,NaN,NaN,84.049805,NaN
2007-10-08,5186.250000,5249.299805,5024.750000,5085.100098,NaN,NaN,5261.350098,4733.700195,NaN,NaN,224.549805,NaN
2007-10-09,5062.649902,5348.700195,5000.950195,5327.250000,NaN,NaN,5261.350098,4837.149902,NaN,NaN,347.750000,NaN
2007-10-10,5328.149902,5454.700195,5328.149902,5441.450195,NaN,NaN,5348.700195,4878.149902,NaN,NaN,127.450195,NaN
2007-10-11,5438.899902,5532.750000,5424.250000,5524.850098,NaN,NaN,5454.700195,4930.350098,NaN,NaN,108.500000,NaN
2007-10-12,5525.299805,5549.299805,5402.600098,5428.250000,NaN,NaN,5532.750000,4942.700195,NaN,NaN,146.699707,NaN
2007-10-15,5428.350098,5682.649902,5419.899902,5670.399902,NaN,NaN,5549.299805,4996.450195,NaN,NaN,262.750000,NaN
2007-10-16,5670.649902,5708.350098,5578.450195,5668.049805,5682.649902,4481.549805,5682.649902,5000.950195,NaN,NaN,129.899902,132.204956

In [954]:
#x['Return'] = (x['Close']-x['Open'])/x['Open']

In [955]:
#x['Result'] = (x['Return']*x['Signal'])
#x['Result'].tail(x.shape[0]-20).mean()
#x.sort_values('Result')

In [956]:
#x = x.drop(["ATR"] , axis = 1)

In [957]:
x['D1'] = abs(x['High'] - x['Close'].shift())
x['D2'] = abs(x['Low']-x['Close'].shift())
x['D3'] = x['High'] - x['Low']
x['TR'] = x[["D1", "D2" , "D3"]].max(axis=1)

x = x.drop(["D1", "D2" , "D3"]   , axis = 1)

x['ATR'] = np.nan

In [958]:
###This is the start of out project

In [959]:

range_atr = 20

In [960]:
x['ATR'][range_atr] = x.iloc[1:(range_atr+1)]['TR'].mean()
for i in range (range_atr+1 , x.shape[0]):
    x['ATR'][i] =  ((x['ATR'][i-1]*(range_atr-1))+x['TR'][i])/range_atr

In [961]:
x.head(25)

,Open,High,Low,Close,H20,L20,H10,L10,H55,L55,TR,ATR
Date,,,,,,,,,,,,
2007-09-17,4518.450195,4549.049805,4482.850098,4494.649902,NaN,NaN,NaN,NaN,NaN,NaN,66.199707,NaN
2007-09-18,4494.100098,4551.799805,4481.549805,4546.200195,NaN,NaN,NaN,NaN,NaN,NaN,70.250000,NaN
2007-09-19,4550.250000,4739.000000,4550.250000,4732.350098,NaN,NaN,NaN,NaN,NaN,NaN,192.799805,NaN
2007-09-20,4734.850098,4760.850098,4721.149902,4747.549805,NaN,NaN,NaN,NaN,NaN,NaN,39.700195,NaN
2007-09-21,4752.950195,4855.700195,4733.700195,4837.549805,NaN,NaN,NaN,NaN,NaN,NaN,122.000000,NaN
2007-09-24,4837.149902,4941.149902,4837.149902,4932.200195,NaN,NaN,NaN,NaN,NaN,NaN,104.000000,NaN
2007-09-25,4939.100098,4953.899902,4878.149902,4938.850098,NaN,NaN,NaN,NaN,NaN,NaN,75.750000,NaN
2007-09-26,4937.600098,4980.850098,4930.350098,4940.500000,NaN,NaN,NaN,NaN,NaN,NaN,50.500000,NaN
2007-09-27,4942.700195,5016.399902,4942.700195,5000.549805,NaN,NaN,NaN,NaN,NaN,NaN,75.899902,NaN
2007-09-28,4996.450195,5055.799805,4996.450195,5021.350098,NaN,NaN,NaN,NaN,NaN,NaN,59.349609,NaN
2007-10-01,5021.500000,5089.299805,5001.350098,5068.950195,NaN,NaN,5055.799805,4481.549805,NaN,NaN,87.949707,NaN
2007-10-03,5069.000000,5261.350098,5034.149902,5210.799805,NaN,NaN,5089.299805,4481.549805,NaN,NaN,227.200195,NaN
2007-10-04,5211.649902,5233.100098,5126.049805,5208.649902,NaN,NaN,5261.350098,4550.250000,NaN,NaN,107.050293,NaN
2007-10-05,5208.149902,5248.549805,5164.500000,5185.850098,NaN,NaN,5261.350098,4721.149902,NaN,NaN,84.049805,NaN
2007-10-08,5186.250000,5249.299805,5024.750000,5085.100098,NaN,NaN,5261.350098,4733.700195,NaN,NaN,224.549805,NaN
2007-10-09,5062.649902,5348.700195,5000.950195,5327.250000,NaN,NaN,5261.350098,4837.149902,NaN,NaN,347.750000,NaN
2007-10-10,5328.149902,5454.700195,5328.149902,5441.450195,NaN,NaN,5348.700195,4878.149902,NaN,NaN,127.450195,NaN
2007-10-11,5438.899902,5532.750000,5424.250000,5524.850098,NaN,NaN,5454.700195,4930.350098,NaN,NaN,108.500000,NaN
2007-10-12,5525.299805,5549.299805,5402.600098,5428.250000,NaN,NaN,5532.750000,4942.700195,NaN,NaN,146.699707,NaN
2007-10-15,5428.350098,5682.649902,5419.899902,5670.399902,NaN,NaN,5549.299805,4996.450195,NaN,NaN,262.750000,NaN
2007-10-16,5670.649902,5708.350098,5578.450195,5668.049805,5682.649902,4481.549805,5682.649902,5000.950195,NaN,NaN,129.899902,132.204956
2007-10-17,5658.899902,5658.899902,5107.299805,5559.299805,5708.350098,4481.549805,5708.350098,5000.950195,NaN,NaN,560.750000,153.632208
2007-10-18,5551.100098,5736.799805,5269.649902,5351.000000,5708.350098,4550.250000,5708.350098,5000.950195,NaN,NaN,467.149902,169.308093
2007-10-19,5360.350098,5390.850098,5101.750000,5215.299805,5736.799805,4721.149902,5736.799805,5000.950195,NaN,NaN,289.100098,175.297693
2007-10-22,5202.750000,5247.399902,5070.899902,5184.000000,5736.799805,4733.700195,5736.799805,5000.950195,NaN,NaN,176.500000,175.357809

In [962]:
x.to_csv('x.csv')
buy_price = []

In [963]:
#pos is position variable
var = {
'pos' : 0,
'avg_price' : 0,
'price_pnl' : 0,
'last_buy' : -1,
'stop_loss' : -1, 
'current_atr' :-1,
'last_trade_pos' : -1,
'last_order' : 0,
'money' : 100,
'volume' : 0,
'last_result' : 0, #to be implemented later
}
# pos = 1 for 1st step-buy .... till 4

In [964]:
# p = 4


# buy -> 1/4(p)
# p = 3/4(p)

# selll p+y 

# 100 - 25 - > 75/3  
# 1/4 sell 
# 75 
# 25 -> 1volume
# 25 -> 
# 100 -> 150 - 55 =95 
# 50
# 55

In [965]:
log = pd.DataFrame(columns = list(var.keys()))

In [966]:
def trade(row):
    
    
    
    #no position
    if (var['pos'] == 0):
        
        if (x['H20'][row]<=x['High'][row]):
            if(var['last_result'] == 1):
                if(x['H55'][row]<=x['High'][row]):
                    var['price_pnl'] = 0
                    var['pos'] = 1
                    buy_price.append(x['H20'][row])
                    var['avg_price'] = x['H20'][row]
                    var['last_buy'] = x['H20'][row]
                    var['current_atr'] = x['ATR'][row]
                    var['stop_loss'] = max(x['L10'][row] , (var['last_buy'] - (var['current_atr']*2)))
                    #recheck stop_loss logic
                    var['last_trade_pos']= row
                    var['last_order'] = var['money']/4
                    var['volume'] = var['last_order']/var['last_buy']
                    var['money'] = 3*var['last_order']
                    log.loc[len(log)] = var
                var['last_result'] = 0
            else:
                var['price_pnl'] = 0
                var['pos'] = 1
                buy_price.append(x['H20'][row])
                var['avg_price'] = x['H20'][row]
                var['last_buy'] = x['H20'][row]
                var['current_atr'] = x['ATR'][row]
                var['stop_loss'] = max(x['L10'][row] , (var['last_buy'] - (var['current_atr']*2)))
                #recheck stop_loss logic
                var['last_trade_pos']= row
                var['last_order'] = var['money']/4
                var['volume'] = var['last_order']/var['last_buy']
                var['money'] = 3*var['last_order']
                log.loc[len(log)] = var
                
            
#         in sell we use same variables just buy is sell(conceptually)
        
        elif (x['L20'][row] >= x['Low'][row]):
            
            if(var['last_result'] == 1):
                if(x['L55'][row] >= x['Low'][row]):
                    var['price_pnl'] = 0
                    var['pos'] = -1
                    buy_price.append(x['L20'][row]) 
                    var['avg_price'] = x['L20'][row]
                    var['last_buy'] = x['L20'][row]
                    var['current_atr'] = x['ATR'][row]
                    var['stop_loss'] = min(x['H10'][row] , (var['last_buy'] + (var['current_atr']*2)))
                    #recheck stop_loss logic

                    var['last_trade_pos']= row
                    var['last_order'] = -1*(var['money']/4)
                    var['volume'] = var['last_order']/var['last_buy']
                    var['money'] = (var['money']*5)/4
                    log.loc[len(log)] = var
                var['last_result'] = 0
            else:
                var['price_pnl'] = 0
                var['pos'] = -1
                buy_price.append(x['L20'][row]) 
                var['avg_price'] = x['L20'][row]
                var['last_buy'] = x['L20'][row]
                var['current_atr'] = x['ATR'][row]
                var['stop_loss'] = min(x['H10'][row] , (var['last_buy'] + (var['current_atr']*2)))
                #recheck stop_loss logic

                var['last_trade_pos']= row
                var['last_order'] = -1*(var['money']/4)
                var['volume'] = var['last_order']/var['last_buy']
                var['money'] = (var['money']*5)/4
                log.loc[len(log)] = var
            
            
            
    
        
    elif(var['pos']>0):       
        var['stop_loss'] = max(x['L10'][row] , (var['last_buy'] - (var['current_atr']*2)))
        if (var['pos'] == 1):
            if (var['stop_loss'] >= x['Low'][row]):
                var['pos'] = 0
                buy_price.clear()
                var['last_order'] = -1*var['volume']*var['stop_loss'];
                var['money'] = var['money']-var['last_order']
                

                var['price_pnl'] = ((var['stop_loss']-var['avg_price']))*var['volume']
                var['volume'] = 0
                var['last_trade_pos']= row
                if(var['price_pnl']>0):
                    var['last_result'] =1
                log.loc[len(log)] = var

            elif ((var['last_buy']+ (var['current_atr']/2)) <= x['High'][row]):

                var['pos'] = 2

                var['last_buy'] = (var['last_buy']+ (var['current_atr']/2))  #updated to 2nd
                buy_price.append(var['last_buy'])
                var['avg_price'] = sum(buy_price)/len(buy_price)
                var['stop_loss'] = max(x['L10'][row] , (var['last_buy'] - (var['current_atr']*2)))
                var['last_trade_pos']= row
                var['last_order'] = var['money']/3
                var['money'] = 2*var['last_order']
                var['volume'] = var['volume'] + (var['last_order']/var['last_buy'])
                log.loc[len(log)] = var



        elif (var['pos'] == 2):
            if (var['stop_loss'] >= x['Low'][row]):
                var['pos'] = 0
                buy_price.clear()
                var['last_order'] = -1*var['volume']*var['stop_loss'];
                var['money'] = var['money']-var['last_order']
                

                var['price_pnl'] = ((var['stop_loss']-var['avg_price']))*var['volume']
                var['volume'] = 0
                var['last_trade_pos']= row
                if(var['price_pnl']>0):
                    var['last_result'] =1
                log.loc[len(log)] = var

            elif ((var['last_buy']+ (var['current_atr']/2)) <= x['High'][row]):

                var['pos'] = 3

                var['last_buy'] = (var['last_buy']+ (var['current_atr']/2))  #updated to 3rd
                buy_price.append(var['last_buy'])
                var['avg_price'] = sum(buy_price)/len(buy_price)
                var['stop_loss'] = max(x['L10'][row] , (var['last_buy'] - (var['current_atr']*2)))
                var['last_trade_pos']= row
                var['last_order'] = var['money']/2
                var['money'] = var['last_order']
                var['volume'] = var['volume'] + (var['last_order']/var['last_buy'])
                log.loc[len(log)] = var



        elif (var['pos'] == 3):
            if (var['stop_loss'] >= x['Low'][row]):
                var['pos'] = 0
                buy_price.clear()
                var['last_order'] = -1*var['volume']*var['stop_loss'];
                var['money'] = var['money']-var['last_order']
                

                var['price_pnl'] = ((var['stop_loss']-var['avg_price']))*var['volume']
                var['volume'] = 0
                var['last_trade_pos']= row
                if(var['price_pnl']>0):
                    var['last_result'] =1
                log.loc[len(log)] = var

            elif ((var['last_buy']+ (var['current_atr']/2)) <= x['High'][row]):

                var['pos'] = 4

                var['last_buy'] = (var['last_buy']+ (var['current_atr']/2))  #updated to 4th
                buy_price.append(var['last_buy'])
                var['avg_price'] = sum(buy_price)/len(buy_price)
                var['stop_loss'] = max(x['L10'][row] , (var['last_buy'] - (var['current_atr']*2)))
                var['last_trade_pos']= row
                var['last_order'] = var['money']
                var['money'] = 0
                var['volume'] = var['volume'] + (var['last_order']/var['last_buy'])
                log.loc[len(log)] = var

        else:
             if (var['stop_loss'] >= x['Low'][row]):
                var['pos'] = 0
                buy_price.clear()
                var['last_order'] = -1*var['volume']*var['stop_loss'];
                var['money'] = var['money']-var['last_order']
                
                var['price_pnl'] = ((var['stop_loss']-var['avg_price']))*var['volume']
                var['volume'] = 0

                var['last_trade_pos']= row
                if(var['price_pnl']>0):
                    var['last_result'] =1
                log.loc[len(log)] = var
    else:
        
        var['stop_loss'] = min(x['H10'][row] , (var['last_buy'] + (var['current_atr']*2)))
        
        if (var['pos'] == -1):
            if (var['stop_loss'] <= x['High'][row]):
                var['pos'] = 0
                buy_price.clear()
                var['last_order'] = -1*var['volume']*var['stop_loss'];
                var['money'] = var['money']-var['last_order']
                

                var['price_pnl'] = -1*((var['avg_price']-var['stop_loss']))*(var['volume'])
                var['volume'] = 0
                var['last_trade_pos']= row
                if(var['price_pnl']>0):
                    var['last_result'] =1
                log.loc[len(log)] = var

            elif ((var['last_buy']-(var['current_atr']/2)) >= x['Low'][row]):

                var['pos'] = -2

                var['last_buy'] = (var['last_buy']-(var['current_atr']/2)) #updated to 2nd
                buy_price.append(var['last_buy'])
                var['avg_price'] = sum(buy_price)/len(buy_price)
                var['stop_loss'] = min(x['H10'][row] , (var['last_buy'] + (var['current_atr']*2)))
                var['last_trade_pos']= row
                var['last_order'] = -1*var['money']/5
                var['money'] = var['money']-var['last_order']
                var['volume'] = var['volume'] + (var['last_order']/var['last_buy'])
                log.loc[len(log)] = var
        elif (var['pos'] == -2):
            if (var['stop_loss'] <= x['High'][row]):
                var['pos'] = 0
                buy_price.clear()
                var['last_order'] = -1*var['volume']*var['stop_loss'];
                var['money'] = var['money']-var['last_order']
                

                var['price_pnl'] = -1*((var['avg_price']-var['stop_loss']))*(var['volume'])
                var['volume'] = 0
                var['last_trade_pos']= row
                if(var['price_pnl']>0):
                    var['last_result'] =1
                log.loc[len(log)] = var

            elif ((var['last_buy']-(var['current_atr']/2)) >= x['Low'][row]):

                var['pos'] = -3

                var['last_buy'] = (var['last_buy']-(var['current_atr']/2)) #updated to 2nd
                buy_price.append(var['last_buy'])
                var['avg_price'] = sum(buy_price)/len(buy_price)
                var['stop_loss'] = min(x['H10'][row] , (var['last_buy'] + (var['current_atr']*2)))
                var['last_trade_pos']= row
                var['last_order'] = -1*var['money']/6
                var['money'] = var['money']-var['last_order']
                var['volume'] = var['volume'] + (var['last_order']/var['last_buy'])
                log.loc[len(log)] = var
                
        elif (var['pos'] == -3):
            if (var['stop_loss'] <= x['High'][row]):
                var['pos'] = 0
                buy_price.clear()
                var['last_order'] = -1*var['volume']*var['stop_loss'];
                var['money'] = var['money']-var['last_order']
                

                var['price_pnl'] = -1*((var['avg_price']-var['stop_loss']))*(var['volume'])
                var['volume'] = 0
                var['last_trade_pos']= row
                if(var['price_pnl']>0):
                    var['last_result'] =1
                log.loc[len(log)] = var

            elif ((var['last_buy']-(var['current_atr']/2)) >= x['Low'][row]):

                var['pos'] = -4

                var['last_buy'] = (var['last_buy']-(var['current_atr']/2)) #updated to 2nd
                buy_price.append(var['last_buy'])
                var['avg_price'] = sum(buy_price)/len(buy_price)
                var['stop_loss'] = min(x['H10'][row] , (var['last_buy'] + (var['current_atr']*2)))
                var['last_trade_pos']= row
                var['last_order'] = -1*var['money']/7
                var['money'] = var['money']-var['last_order']
                var['volume'] = var['volume'] + (var['last_order']/var['last_buy'])
                log.loc[len(log)] = var
                
                

        else:
            if (var['stop_loss'] <= x['High'][row]):
                var['pos'] = 0
                buy_price.clear()
                var['last_order'] = -1*var['volume']*var['stop_loss'];
                var['money'] = var['money']-var['last_order']
                

                var['price_pnl'] = -1*((var['avg_price']-var['stop_loss']))*(var['volume'])
                var['volume'] = 0
                var['last_trade_pos']= row
                if(var['price_pnl']>0):
                    var['last_result'] =1
                log.loc[len(log)] = var

In [967]:
for i in range (60 , x.shape[0]):
    trade(i)

In [968]:
buy_price

[17748.75, 17840.072301552682, 17931.394603105364, 18022.716904658046]

In [969]:
var

{'pos': 4,
 'avg_price': 17885.733452329023,
 'price_pnl': 0,
 'last_buy': 18022.716904658046,
 'stop_loss': 18464.55078125,
 'current_atr': 182.64460310536248,
 'last_trade_pos': 3825,
 'last_order': 58.26858107544958,
 'money': 0,
 'volume': 0.01303172277635541,
 'last_result': 0}

In [970]:
log

,pos,avg_price,price_pnl,last_buy,stop_loss,current_atr,last_trade_pos,last_order,money,volume,last_result
0,1,6111.200195,0.000000,6111.200195,5814.652788,148.273704,60,25.000000,75.000000,0.004091,0
1,2,6148.268621,0.000000,6185.337047,5888.789640,148.273704,61,25.000000,50.000000,0.008133,0
2,0,6148.268621,-2.110256,6185.337047,5888.789640,148.273704,63,-47.891562,97.891562,0.000000,0
3,1,6185.399902,0.000000,6185.399902,5915.622953,134.888475,73,24.472890,73.418671,0.003957,0
4,2,6219.122021,0.000000,6252.844140,5983.067190,134.888475,75,24.472890,48.945781,0.007870,0
...,...,...,...,...,...,...,...,...,...,...,...
699,0,17097.918693,-1.500109,16940.638168,17207.250000,209.707367,3808,236.096600,233.074324,0.000000,0
700,1,17748.750000,0.000000,17748.750000,17383.460794,182.644603,3814,58.268581,174.805743,0.003283,0
701,2,17794.411151,0.000000,17840.072302,17474.783095,182.644603,3815,58.268581,116.537162,0.006549,0
702,3,17840.072302,0.000000,17931.394603,17566.105397,182.644603,3824,58.268581,58.268581,0.009799,0
703,4,17885.733452,0.000000,18022.716905,17657.427698,182.644603,3825,58.268581,0.000000,0.013032,0

In [878]:
log['money'].min()

46883345454348.18

In [879]:
sum(buy_price)/len(buy_price)

17885.733452329023

In [975]:
log.loc[log['price_pnl']>0]

,pos,avg_price,price_pnl,last_buy,stop_loss,current_atr,last_trade_pos,last_order,money,volume,last_result
11,0,5547.290563,10.868634,5417.581126,4917.100098,172.945916,144,84.803188,106.482324,0.0,1
21,0,4828.676915,13.242451,4743.554025,4215.500000,113.497187,210,91.039877,117.488766,0.0,1
36,0,3697.322340,25.457672,3595.094631,2832.850098,136.303612,301,83.424041,134.246873,0.0,1
54,0,2899.034854,60.294533,2962.019660,4365.100098,83.979741,424,-179.522481,179.522481,0.0,1
71,0,4817.650986,3.962000,4903.851777,4934.549805,114.934388,513,-167.244497,167.244497,0.0,1
95,0,5055.261280,5.681142,5118.522561,5237.549805,84.348374,627,-163.231687,163.231687,0.0,1
110,0,5214.659131,4.188840,5281.418360,5353.600098,89.012305,701,-161.402193,161.402193,0.0,1
121,0,5595.427021,12.885555,5641.054236,6050.350098,60.836288,756,-171.374285,171.374285,0.0,1
140,0,5670.727102,3.266541,5600.504009,5556.299805,93.630791,841,158.614964,165.120462,0.0,1
145,0,5684.624355,1.479373,5761.048515,5735.549805,101.898880,879,-166.616417,166.616417,0.0,1
150,0,5623.497712,2.952673,5553.745423,5523.850098,93.003051,909,163.677988,169.554847,0.0,1
163,0,5437.290438,9.829113,5377.630681,5112.149902,79.546343,972,154.542093,174.178330,0.0,1
183,0,4947.464177,12.891132,5017.728158,5341.049805,93.685308,1087,-174.935695,174.935695,0.0,1
193,0,5094.199708,3.948379,5034.099612,4976.250000,80.133462,1147,166.580489,174.450872,0.0,1
200,0,5099.936377,3.966198,5160.572949,5216.850098,80.848763,1182,-176.977180,176.977180,0.0,1
212,0,5495.460187,1.240746,5542.320277,5534.899902,62.480119,1236,-174.124087,174.124087,0.0,1
219,0,5829.197288,0.287939,5881.094772,5838.899902,69.196645,1283,-173.277743,173.277743,0.0,1
246,0,5853.509389,3.298802,5912.668680,5970.049805,78.879055,1388,-168.988697,168.988697,0.0,1
251,0,5865.642587,0.064616,5802.834979,5863.399902,83.743477,1415,168.934846,169.042547,0.0,1
261,0,5697.758545,4.925914,5635.117187,5528.700195,83.521810,1458,161.091731,170.921262,0.0,1
286,0,6241.776512,10.784528,6291.702927,6665.149902,66.568553,1616,-169.780380,169.780380,0.0,1
293,0,6930.144727,4.887495,6988.939356,7130.649902,78.392839,1637,-173.816051,173.816051,0.0,1
310,0,7909.493047,2.545436,7978.035898,8030.000000,91.390469,1711,-169.615551,169.615551,0.0,1
320,0,8165.166196,5.414563,8232.382197,8429.450195,89.621334,1763,-172.699784,172.699784,0.0,1
330,0,8526.082716,3.271836,8606.565822,8689.599609,107.310808,1802,-173.871622,173.871622,0.0,1
357,0,8244.222378,7.100894,8166.694757,7880.000000,103.370162,1954,153.628797,167.814792,0.0,1
367,0,7921.683734,0.307127,7847.767371,7906.950195,98.555151,1999,164.824024,165.422303,0.0,1
397,0,8067.606170,1.296420,8143.212341,8134.299805,100.808227,2131,-158.118035,158.118035,0.0,1
404,0,8381.255142,5.797239,8454.359894,8690.500000,97.473002,2204,-162.915905,162.915905,0.0,1
424,0,8342.021072,14.763511,8409.091948,9136.349609,89.427835,2337,-169.809587,169.809587,0.0,1
429,0,9327.144576,4.783807,9380.388761,9589.900391,70.992247,2378,-174.596469,174.596469,0.0,1
438,0,9750.908284,3.437631,9802.966959,9944.500000,69.411566,2417,-176.585683,176.585683,0.0,1
454,0,10247.290553,0.412703,10315.630911,10271.849609,91.120477,2479,-172.613515,172.613515,0.0,1
464,0,10490.489001,4.746840,10571.428198,10782.400391,107.918929,2537,-175.335159,175.335159,0.0,1
482,0,10552.652001,0.782088,10635.403612,10601.599609,110.335481,2607,-169.392981,169.392981,0.0,1
492,0,10964.732597,8.167761,11036.215195,11499.650391,95.310130,2682,-175.590340,175.590340,0.0,1
500,0,11166.229291,11.298786,11082.258387,10441.900391,111.961206,2721,162.882904,185.469530,0.0,1
520,0,11203.716612,5.696625,11289.333614,11564.799805,114.156003,2841,-182.451925,182.451925,0.0,1
535,0,11522.268815,6.737971,11419.438020,11084.450195,137.107726,2934,170.588228,184.048476,0.0,1
540,0,11817.042905,1.118444,11939.236201,11888.849609,162.924394,2985,-185.177854,185.177854,0.0,1
556,0,11513.502868,38.774234,11412.505736,9038.900391,134.662843,3067,141.629391,219.162435,0.0,1
571,0,10516.105966,8.473436,10703.711932,10953.000000,250.141288,3146,-212.430334,212.430334,0.0,1
591,0,12155.875553,18.273688,12286.300911,13241.950195,173.900477,3243,-222.801690,222.801690,0.0,1
596,0,13914.052148,4.944151,14050.604295,14222.799805,182.069530,3267,-227.757764,227.757764,0.0,1
616,0,15215.872088,5.008555,15387.394567,15566.900391,228.696638,3364,-222.112241,222.112241,0.0,1
627,0,16078.555205,25.755859,16194.860410,17968.500000,155.073606,3454,-244.871783,244.871783,0.0,1
659,0,16791.945125,5.273818,16579.989860,16404.550781,282.607021,3593,223.324407,233.831572,0.0,1
669,0,16445.191913,12.556326,16614.883827,17348.750000,226.255885,3657,-241.087507,241.087507,0.0,1
682,0,17839.846379,6.913684,18009.542368,18365.599609,226.261318,3732,-241.508647,241.508647,0.0,1